<div class="jumbotron">
  <h1 class="jumbo-title">Band Venue Tracker</h1>
 </div> 


<div class="container">
  <div class="row">
    <div class="home-buttons">
      <div class="btn-group">
      <a role="button" href="/bands" class="btn btn-info">Add A Band</a>
      <a role="button" href="/venues" class="btn btn-info">Add A Venue</a>
      <a role="button" href="/bands/list" class="btn btn-info">All Bands</a>
      <a role="button" href="/venues/list" class="btn btn-info">All Venues</a>
    </div>
  </div>
</div>
</div>